@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 40px 0;
}
.logo {
    width: 120px;
}


header h1 {
    font-size: 48px;
    font-weight: bold;
}

.comunidad-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fila {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #777;
}

.avatar.rojo {
    background-color: #ff0000;
}

.avatar.morado {
    background-color: #7a5cff;
}

.avatar.gris {
    background-color: #bdbdbd;
}

.comentario {
    background-color: #ff0000;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}

.texto {
    font-size: 15px;
    margin-bottom: 12px;
}

.autor {
    font-size: 13px;
    font-weight: bold;
}

.fecha {
    font-size: 12px;
}

footer {
    text-align: center;
    margin: 50px 0;
}

footer button {
    padding: 8px 18px;
    border-radius: 6px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-size: 14px;
}

footer button:hover {
    background-color: #bbb;
}
